---
import Layout from './Layout.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const { title, description, pubDate, updatedDate, author, tags } = post.data;

const formattedDate = pubDate.toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});

const formattedUpdated = updatedDate?.toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});
---

<Layout title={title} description={description} activeNav="articles">
  <article>
    <header>
      <h1>{title}</h1>
      <p>
        <time datetime={pubDate.toISOString()}>{formattedDate}</time>
        {formattedUpdated && <span>(updated {formattedUpdated})</span>}
        <span>by {author}</span>
      </p>
      {
        tags.length > 0 && (
          <p>
            {tags.map(tag => (
              <a href={`/blog/tag/${tag}`}>#{tag}</a>
            ))}
          </p>
        )
      }
    </header>

    <div>
      <slot />
    </div>
  </article>
</Layout>
